venv/
venv_mac/
.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
*.db
.pytest_*.db
.env
.env.*
!.env.example
uploads/
server.log
*.log
*_ss.png
*_screenshot*.png
pdf*_ss*.png
feedback_modal_ss*.png
screenshot*.png
*-*.env
*-*Dockerfile
*-*.gitignore
